body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: red;
    background-color: #202020;
}

.login-area {
    font-size: 13px;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 800px;
    border: .5px solid #222;
    margin-bottom: 25px;
}

.options {
    text-decoration: none;
    color: orange;
}

.options:hover {
    text-decoration: underline;
}

.option1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: center;
    width: 33%;
    order: 0;
}


.option2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: center;
    width: 33%;
}

.option3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: center;
    width: 33%;
    order: 2;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #0080FF;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    clear: both;
    text-decoration: none;
    color:aqua;
}

.post-username {
    padding-left: 10px;
    color: #999;
    font-size: 10px;
}

.post-date {

    color: #999;
}

.post-comments {
    color: palevioletred;
}

.post-comments:hover {
    text-decoration: underline;
    color: palevioletred;
}


.write {
    font-size: 14px;
    color: #999;
    padding-bottom: 5px;
    padding-left: 14em;
}

.send {
    padding-top: 5px;
}

.post-e-d {
    position: absolute;
    right: 0px;
    padding-top: 3px;
}
.post-edit {
    color: #999;
    text-decoration: none;
}

.post-edit:hover {
    text-decoration: underline;
}

.post-delete {
    color: rgba(235, 0, 0, 0.33);
    text-decoration: none;
    border: .2px solid transparent;
}

.post-delete:hover {
    border: .2px solid rgba(235, 0, 0, 0.33);
    border-radius: 3px;
    padding: none;
}

.post-content {
    margin-top: 5px;
    color: azure;
}

.like {
    margin-top: 5px;
}


.like_button {
    display: inline-block;
    color: #33FF33;
}

.like_count {
    display: inline-block;
}

.interact a {
    display: inline-block;
}

.comment_author {
    color: crimson;
}

.comment_content {
    color: aquamarine;
}